[submodule "horizon/ext/freertos"]
	path = horizon/ext/freertos
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
	branch = V10.2.1-convergence-FreeRTOS-Source
[submodule "horizon/ext/cmsis"]
	path = horizon/ext/cmsis
	url = https://github.com/ARM-software/CMSIS_5
	branch = master
[submodule "horizon/ext/libcsp"]
	path = horizon/ext/libcsp
	url = https://github.com/McMasterNEUDOSE/libcsp.git
